body{
	width: 100%;
	margin: 0;
	padding: 0;
	clear: both;
	font-family: 'Roboto', sans-serif;
}

.flex-container{
	display: flex;
}

/*menu*/
.menu{
	width: 100%;
}
.menu ul{
	list-style: none;
}
.menu ul li{
	justify-content: space-around;
}
.menu ul li a{
	text-decoration: none;
	color: #fff;
	padding: 20px 40px;
	border-right: 1px solid white;
	background-color: #df6e6f;
	cursor: pointer;
}
.menu ul li a:hover{
	background-color: #FBE6C0;
	color: #df6e6f;
}